<a href="https://colab.research.google.com/github/Rejd10/pdstprog/blob/exercises/list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a  Python program to sum all the items in a list.

In [ ]:
def sum_list(items):
  sum_num = 0
  for x in items:
    sum_num += x

  return sum_num

print(sum_list([1, 2, 3, 4, 5]))

15

2. Write a  Python program to multiply all the items in a list.

In [ ]:
def list_multiply(items):
  a = 1
  for x in items:
    a *= x
  return a

print(list_multiply([1, 2, 3, 4, 5]))

120

3. Write a Python program to get the largest number from a list.

In [ ]:
def largest_num(list):
  max = list[0]
  for x in list:
    if x > max:
      max = x
  return max

print(largest_num([1,2,3,4,5]))

5

4. Write a Python program to get the smallest number from a list.

In [ ]:
def smallest_num(list):
  min = list[0]
  for x in list:
    if x < min:
      min = x
  return min

print(smallest_num([1,2,3,4,5]))

1

5.  Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.

In [ ]:
def strings_count(words):
  number = 0
  for word in words:
    if len(word) >= 2 and word[0] == word[-1]:
      number += 1
  return number

print(strings_count(['abc', 'xyz', 'aba', '1221']))

2

6. Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.

In [ ]:
def last(number):
  return number[-1]

def sort_last_element(tuples):
  return sorted(tuples, key=last)

print(sort_last_element([(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]))

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

7. Write a  Python program to remove duplicates from a list.

In [ ]:
list_a = [1, 2, 3, 4, 5, 1, 2, 8, 9]

duplicate_items = set()
unique_items = []

for x in list_a:
  if x not in duplicate_items:
    unique_items.append(x)
    duplicate_items.add(x)

print(duplicate_items)

{1, 2, 3, 4, 5, 8, 9}

8. Write a  Python program to check if a list is empty or not.

In [ ]:
list_a = []
if not list_a:
  print("List is empty")
else:
  print("List is not empty")

List is empty

9. Write a Python program to clone or copy a list.

In [ ]:
list_original = [1, 2, 3, 4, 5]
list_clone = list(list_original)
print(list_clone)

[1, 2, 3, 4, 5]

10. Write a Python program to find the list of words that are longer than n from a given list of words.

In [ ]:
def n_words(n, str):
  words_len = []
  text = str.split(" ")
  for x in text:
    if len(x) > n:
      words_len.append(x)
  return words_len

print(n_words(3, "Sample text a"))

['Sample', 'text']

11. Write a  Python program to print the numbers of a specified list after removing even numbers from it.

In [ ]:
num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
num_list = [x for x in num_list if x % 2 != 0]
print(num_list)

[1, 3, 5, 7, 9]

12. Write a Python program to shuffle and print a specified list.

In [ ]:
from random import shuffle
num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
shuffle(num_list)
print(num_list)

[8, 6, 1, 7, 5, 10, 4, 9, 2, 3]

13. Write a Python program to access the index of a list.

In [ ]:
num_list = [5, 4, 3, 2, 1]
for num_index, num_value in enumerate(num_list):
  print(num_index, num_value)

0 5
1 4
2 3
3 2
4 1

14. Write a Python program to convert a list of characters into a string.

In [ ]:
char_list = ['P', 'y', 't', 'h', 'o', 'n']
str1 = ''.join(char_list)
print(str1)

Python

15. Write a Python program to find the index of an item in a specified list.

In [ ]:
num_list = [5, 4, 3, 2, 1]
print(num_list.index(2))

3

16. Write a Python program to append a list to the second list.

In [ ]:
first_list = [1, 2, 3, 4, 5]
second_list = [6, 7, 8, 9]
append_list = first_list + second_list
print(append_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

17. Write a Python program to select an item randomly from a list.

In [ ]:
import random
num_list = [1, 2, 3, 4, 5]
print(random.choice(num_list))

4

18. Write a Python program to select the odd items from a list.

In [ ]:
num_list = [1, 2, 3, 4, 5]
print(num_list[::2])

[1, 3, 5]

19. Write a  Python program to split a list into different variables.

In [ ]:
num_list = [
    ("one", "jeden"),
    ("two", "dwa"),
    ("three", "trzy")
]
var1, var2, var3 = num_list
print(var1)
print(var2)
print(var3)

('one', 'jeden')
('two', 'dwa')
('three', 'trzy')

20. Write a  Python program to concatenate elements of a list.

In [ ]:
words_str = ["Hello", "word!"]
print(''.join(words_str))

Helloword!